<h1>Sign up</h1>

<form method="POST" action="/signup">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="role" placeholder="Role">
  <input type="text" name="occupation" placeholder="Ocuppation">
  <input type="text" name="telephone" placeholder="Telephone">
  <input type="submit" value="Create">
</form>